.nav-bar
  .header
    background-color: #f4f4f4
    font-size: 5vw
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    align-items: center
    align-content: center
    .logo
      width: 15%
      display: flex
      border-radius: 50%
      align-content: right
    .brand
      display: flex
      width: 85%
      p
        padding-left: 15vw


  .subheader
    background-color: #f4f4f4
    font-size: 5vw
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    align-items: center
    align-content: center
    list-style: none