@import "~react-image-gallery/styles/scss/image-gallery.scss"

.app
  display: flex
  flex-direction: column
  flex-wrap: nowrap
  min-height: 100vh
  .logo
      display: flex
      width: 3%
      border-radius: 50%
      align-items: center
      justify-content: center
      img
        width: 100%

.category
  min-height: 100vh
  display: flex
  flex-direction: column
  justify-content: center
  align-content: center
  background-color: #708899
  gap: 2vh

.home
  min-height: 100vh
  display: flex
  flex-direction: column
  justify-content: center
  align-content: center
  background-color: #708899

.item-list-container
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: center
  align-content: center
  gap: 2vh
  .no-items 
    display: flex
    flex-direction: column
    flex-wrap: wrap
    justify-content: space-around
    align-content: center


.item-description
  display: flex
  flex-direction: row
  justify-content: center
  align-content: center
  .images
    display: flex
    width: 50%
  .details
    display: flex
    width: 50%
    flex-direction: column
  .actions
    display: flex
    flex-direction: column
    justify-content: center
    align-content: center

.item-count
  display: flex
  flex-direction: column
  justify-content: center
  align-content: center


.item-detail-container
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: center
  align-content: center
.order
  display: flex
  flex-direction: column
  flex-wrap: wrap
  justify-content: start
  align-content: center
  background-color: #708899
  min-height: 100vh


.cart
  display: flex
  flex-direction: column
  flex-wrap: wrap
  justify-content: center
  align-content: center
  background-color: #708899
  min-height: 100vh
  .order-container
    display: flex
    flex-direction: column
    flex-wrap: wrap
    justify-content: start
    align-content: center
    .order-checkout
      display: flex
      flex-direction: column
      flex-wrap: wrap
      justify-content: center
      align-content: center
      .content
        display: flex
        flex-direction: column
        flex-wrap: wrap
        justify-content: center
        align-content: center
        gap: 5vh
      .actions
        display: flex
        flex-direction: row
        flex-wrap: nowrap
        justify-content: center
        align-content: center
        gap: 5vw

  .error
    .actions
        display: flex
        flex-direction: row
        flex-wrap: wrap
        justify-content: center
        align-content: center
    
    .content
        display: flex
        flex-direction: column
        flex-wrap: wrap
        justify-content: center
        align-content: center
  
.ticket
  display: flex
  flex-direction: column
  justify-content: center
  align-content: center

.buyer
  display: flex
  flex-direction: column
  justify-content: center
  align-content: center
  gap: 5vh

.order-summary
  display: flex
  flex-direction: column
  justify-content: center
  align-content: center
  text-align: center
  .buyer-summary
    display: flex
    flex-direction: column
    justify-content: center
    align-content: center
    text-align: left
 
.order-label
  display: flex
  flex-direction: row
  justify-content: space-between
  align-content: center
  text-align: center
  width: 100%

.wishlist
  background-color: #708899
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: center
  align-content: center
  gap: 2vh
  min-height: 100vh
  .no-items 
    display: flex
    flex-direction: column
    flex-wrap: wrap
    justify-content: space-around
    align-content: center
